[core]
	editor = ee
	autocrlf = false
	quotepath = false
	pager = less -X
	packedGitLimit = 512m 
	packedGitWindowSize = 512m 
	compression = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Artem Bunichev
	email = tembun@bk.ru
[alias]
	s = status --short
	ss = "! git s | grep '^[AMDR]'"
	br = branch
	co = checkout
	logs = log --all --graph --pretty=format:\"%h [ %s ] %d\n\"
	logf = log --all --graph --date=format:'%d-%m-%y %H:%M' \
	       --pretty=format:\"%h [ %s ] %d\n- %an (%ae)\n- %cd\n\"
	diffc = diff --cached
	difft = diff-tree --name-status -r
	cnt = rev-list --count
	fnd = log --grep
	cat = cat-file -p
	flict = diff --check
	no = branch --no-merged
	ignr = check-ignore
[credential]
	helper = store
[push]
	default = nothing
[color]
	ui=false
[safe]
	directory = *
[init]
	defaultBranch = main
[http]
	postBuffer = 100000000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[pack]
	deltaCacheSize = 2047m 
	packSizeLimit = 2047m 
	windowMemory = 2047m
[pull]
	ff = only
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
